<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.m.dao.shop.read.ExpressInfoReadDao">
    <resultMap id="expressInfoResult" type="com.haier.m.entity.order.ExpressInfo">
        <result property="id" column="id" />
        <result property="addTime" column="addTime" />
        <result property="orderId" column="orderId" />
        <result property="orderProductId" column="orderProductId" />
        <result property="cOrderSn" column="cOrderSn" />
        <result property="expressCompany" column="expressCompany" />
        <result property="expressNumber" column="expressNumber" />
        <result property="flag" column="flag" />
    </resultMap>

    <select id="getExpressInfoBycOrderSn" parameterType="String" resultMap="expressInfoResult">
        SELECT e.id,e.orderId,e.orderProductId,e.cOrderSn,e.expressCompany,e.expressNumber,e.flag
          ,FROM_UNIXTIME(IFNULL(e.addTime,""),"%Y-%m-%d %H:%i:%s") as addTime
        FROM ExpressInfos e
        WHERE e.cOrderSn = #{cOrderSn}
    </select>

</mapper>