<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.m.dao.shop.read.InvoiceReadDao">
    <resultMap id="invoiceResult" type="com.haier.m.entity.order.InvoicesInfo">
        <result property="orderProductId" column="orderProductId" />
        <result property="invoiceTitle" column="invoiceTitle" />
        <result property="type" column="type" />
        <result property="eInvViewUrl" column="eInvViewUrl" />
    </resultMap>

    <select id="getInvoiceBycOrderSn" parameterType="Integer" resultMap="invoiceResult">
        SELECT i.orderProductId,i.invoiceTitle,i.type,i.eInvViewUrl
        FROM Invoices i
        WHERE i.cOrderSn = #{cOrderSn}
    </select>
    
   	<select id="selectInvoiceElectricByCOrderSn" resultType="java.lang.String" parameterType="String" >
	    select 
	    	viewUrl
	    from InvoiceElectricSyncLogs
	    where cOrderSn = #{cOrderSn,jdbcType=VARCHAR}
	    order by operateTime desc Limit 1
	</select>

</mapper>