<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.m.dao.shop.read.MemberInvoiceReadDao">
    <resultMap id="memberInvoiceResult" type="com.haier.m.entity.order.MemberInvoicesInfo">
        <result property="invoiceType" column="invoiceType" />
        <result property="memberId" column="memberId" />
        <result property="memberName" column="memberName" />
        <result property="invoiceTitle" column="invoiceTitle" />
    </resultMap>

    <select id="getInvoiceByMemberInvoiceId" parameterType="Integer" resultMap="memberInvoiceResult">
        SELECT mi.invoiceType,mi.memberId,mi.memberName,mi.invoiceTitle
        FROM MemberInvoices mi
        WHERE mi.id = #{memberInvoiceId}
    </select>
    
    <select id="getMemberInvoiceByOrderId" parameterType="Integer" resultMap="memberInvoiceResult">
        SELECT mi.invoiceType,mi.memberId,mi.memberName,mi.invoiceTitle
        FROM MemberInvoices mi
        WHERE mi.orderId = #{orderId}
    </select>

</mapper>
