<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.m.dao.shop.write.OrdersRecoverWriteDao">
	<resultMap id="OrdersRecoverResult" type="com.haier.m.entity.order.OrdersRecover">
		<result property="id" column="id" />
		<result property="memberId" column="member_id" />
		<result property="orderId" column="order_id" />
		<result property="deleteStatus" column="deleteStatus" />
	</resultMap>

	<select id="get" parameterType="Integer" resultMap="OrdersRecoverResult">
		select
		   *
		from `orders_recover`
		where `id` = #{id}
	</select>

	<update id="update" parameterType="com.haier.m.entity.order.OrdersRecover">
		update `orders_recover`
		<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="memberId != null">`member_id`= #{memberId},</if>
			<if test="orderId != null">`order_id`= #{orderId},</if>
			<if test="deleteStatus != null">`deleteStatus`= #{deleteStatus}</if>
		</set>
		where `id` = #{id}
	</update>

	<insert id="insert" parameterType="com.haier.m.entity.order.OrdersRecover" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`orders_recover`
		(
			
			`member_id`,
			`order_id`,
			`deleteStatus`
		)
		values
		(
			
			#{memberId},
			#{orderId},
			#{deleteStatus}
		)
	</insert>

	<insert id="insertOrdersList" parameterType="java.util.List">
		insert into
		`orders_recover`
		(

		`member_id`,
		`order_id`,
		`deleteStatus`
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.memberId}, #{item.orderId},#{item.deleteStatus})
		</foreach>
	</insert>

	<select id="getOrderListByMemberId" parameterType="Integer" resultType="Integer">
	    select orr.order_id from orders_recover orr
	    where orr.member_id= #{memberId}
    </select>

</mapper>