<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.m.dao.mshop.read.ProductImagesReadDao">
	<resultMap id="productImagesResult" type="com.haier.m.entity.item.ProductImages">
		<result property="id" column="id" />
		<result property="productId" column="product_id" />
		<result property="metaFileId" column="meta_file_id" />
		<result property="imageType" column="image_type" />
		<result property="imageDesc" column="image_desc" />
		<result property="sortNum" column="sort_num" />
		<result property="productFullName" column="product_full_name" />
		<result property="platform" column="platform" />
	</resultMap>
	
	
	<!-- 前台使用 -->	
	<select id="getByProductIdAndPlatform" parameterType="Integer" resultMap="productImagesResult">
		select `id`,`product_id`,`meta_file_id`,`image_type`,`image_desc`,`platform`,`sort_num`
		from `product_images`
		where `product_id` = #{productId} and `platform` = #{platform}
		order by `image_type`, `sort_num`
	</select>
	
</mapper>